*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar
{
    display: none;
}
header
{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo
{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.nav
{
    display: flex;
}
.nav a
{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.nav a:hover
{
    border-bottom: 2px solid white;
}
#micons
{
    color: white;
    font-size: 30px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}


section
{
    padding: 0 19%;
    
}
.home
{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: url(tlo3.jpg) ;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.hometext h1
{
    overflow-y: hidden;
    color: white;
    margin: 0 0 45px;
    font-size: 50px;
    line-height: 1;
}
.hometext h4
{
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
}
.hometext h5
{
    color: white;
    margin-bottom: 10px;
    font-size: 15px;
}
.hometext p
{
    color: white;
    line-height: 1.9;
    font-size: 15px;
    margin-bottom: 40px;
}
.home-img
{
    width: 500px;
    height: auto;
}






.home2
{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: url(tlo21.jpg);
    background-size: cover;
    color: white;
}
.home2back
{
    position: absolute;
    background-color: wheat;
    width: 100%;
    margin-left: -19%;
    height: 70%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(1, 1);
    align-items: center;
    gap: 2rem;
}
.home2text
{
    height: 100%;
    width: 50%;
    padding-left: 10%;
    padding-top: 10%;
}
.home2text h1 
{
    font-size: 30px;
    font-weight: 800;
    color: #4d5395;
}
.home2text p 
{
    font-size: 20px;
    font-weight: 550;
    margin-top: 5px;
}
.home2img
{
    margin-left: 55%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 25px;
    padding: 80px;
}


.services1
{
    position: relative;
    height: 70px;
    width: 350px;
    cursor: pointer;
}
.s1img
{
    position: absolute;
    height: 70px;
    width: 70px;
    background: url(voltmeter2.png);
    z-index: 1;
    background-size: cover;
}
.services1:hover>.s1img
{
    background: url(voltmeter.gif);
    z-index: 2;
    background-size: cover;
}
.services1 h1 
{
    position: relative;
    text-align: center;
    padding-top: 20px;
    color: black;
}
.services2
{
    position: relative;
    height: 70px;
    width: 350px;
    cursor: pointer;
    margin-top: 10px;
}
.s2img
{
    position: absolute;
    height: 70px;
    width: 70px;
    background: url(paint-bucket1.png);
    z-index: 1;
    background-size: cover;
}
.services2:hover>.s2img
{
    background: url(paint-bucket.gif);
    z-index: 2;
    background-size: cover;
}
.services2 h1
{
    position: relative;
    text-align: center;
    padding-top: 20px;
    color: black;
}
.services3
{
    position: relative;
    height: 70px;
    width: 350px;
    cursor: pointer;
    margin-top: 10px;

}
.s3img
{
    position: absolute;
    height: 70px;
    width: 70px;
    background: url(trowel1.png);
    z-index: 1;
    background-size: cover;
}
.services3:hover>.s3img
{
    background: url(trowel.gif);
    z-index: 2;
    background-size: cover;
}
.services3 h1 
{
    position: relative;
    text-align: center;
    padding-top: 20px;
    color: black;
}
.services4
{
    position: relative;
    height: 70px;
    width: 350px;
    cursor: pointer;
    margin-top: 10px;

}
.s4img
{
    position: absolute;
    height: 70px;
    width: 70px;
    background: url(repair-tools2.png);
    z-index: 1;
    background-size: cover;
}
.services4:hover>.s4img
{
    background: url(repair-tools.gif);
    z-index: 2;
    background-size: cover;
}
.services4 h1 
{
    position: relative;
    text-align: center;
    padding-top: 20px;
    color: black;
}

#pi
{
    position: absolute;
    right: 0;
    color: black;
    font-size: 50px;
    transform: rotate(90deg);
    margin-right: -150px;
    margin-top: 50vh;
}




.home3
{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: wheat;
    color: white;
}
.home3back
{
    position: absolute;
    width: 100%;
    margin-left: -19%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1);
    align-items: center;
    gap: 2rem;
}
.home3text
{
    position: relative;
    height: 80%;
    width: 50%;
    margin-top: 50vh;
    padding-left: 30vh;
    display: grid;
    justify-content: center;
}
.slogan 
{
    position: relative;
    font-size: 25px;
    display: grid;
}
.contact2
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.ocena
{
    font-size: 20px;
    font-weight: 400;
    width: 30vh;
}
.button3
{
    margin-top: 30px;
    position: absolute;
    height: 40px;
    width: 120px;
    padding: 10px;
    border: 2px solid white;
    color: white;
    transition: all .55s ease;
    text-align: center;
}
.button3:hover
{
    box-shadow: 10px 10px white;
}

.tel
{
    width: 50vh;
}
.tel p
{
    font-size: 20px;
    font-weight: 400;
    margin-left: 100px;
}
.tel h1
{
    position: absolute;
    margin-left: 120px;
    margin-top: 30px;
}
.home3img
{
    position: absolute;
    background: url(zlecenie1.jpg);
    background-size: cover;
    height: 100vh;
    width: 80vh;
    right: 0;
    margin-top: 30vh;
}






.icons
{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons a
{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}
.icons a:hover
{
    color: #4167b2;
    transform: translateY(-5px);
}



footer
{
    position: relative;
    height: 20vh;
    width: 100%;
    background-color: rgb(40, 39, 41);
    display: flex;
    padding-top: 30px;
    padding-left: 250px;
}
.f1
{
    height: 100%;
    width: 30%;
    color: whitesmoke;
}
.f1 h3
{
    padding-top: 20px;
}
.f1 a
{
    padding-left: 10px;
}
.f2
{
    height: 100%;
    width: 30%;
}
.f2 h1 
{
    padding-top: 40px;
    font-size: 50px;
}
.f3
{
    height: 100%;
    width: 30%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
}
.f3 a 
{
    color: whitesmoke;
    padding-top: 15px;
    padding-left: 10px;
}

#insta
{
    transition: all .55s ease;
    width: 20px;
}
#insta:hover 
{
    color: #da2e7d;
}
#fb
{
    transition: all .55s ease;
    width: 20px;
}
#fb:hover 
{
    color: #4167b2;
}
#wa
{
    transition: all .55s ease;
    width: 20px;
}
#wa:hover 
{
    color: #2bb741;
}








@media (max-width: 1535px)
    {
        header
        {
            padding: 15px 3%;
            transition: .2s;
        }
        .icons
        {
            padding: 0 3%;
            transition: .2s;
        }
    }
@media (max-width: 1460px)
{
    section
    {
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width: 1340px)
{
    .hometext 
    {
        font-size: 75px;
        margin: 0 0 30px;
    }

    .home-img
    {
        width: 100%;
        height: auto;
    }
}
@media (max-width: 1195px)
{
    section
    {
        padding: 0 3%;
        transition: .2s;
    }
    .hometext
    {
        padding-top: 115px;
    }
    .home-img
    {
        text-align: center;
    }
    .home-img img 
    {
        width: 560px;
        height: auto;
    }
    .icons
    {
        display: none;
    }

}
@media screen and (max-width: 900px)
{
   *
   {
    overflow-x: hidden;
   }
    #micons
    {
        position: absolute;
        display: block;
        right: 0;
    }
    header
    {
        overflow-x: hidden;
    }

    .nav
    {
        position: absolute;
        overflow-x: hidden;
        top: 10px;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
        z-index: 1002;
    }
    .nav a
    {
        display: block;
        margin: 15px 0;
        margin-left: 0;
    }
    .nav.open
    {
        right: 0;
    }

    .home
    {
        overflow-y: hidden;
        height: 100%;
        width: 100%;
        min-height: 100vh;
        background: url(tlo3.jpg) ;
        background-size: cover;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2rem;
    }
    .home-img
    {
        width: 200px;
        height: auto;
    }
    .home-img img 
    {
        width: 100%;
        height: 100%;
    }
    .hometext h1
    {
        z-index: 1001;
        overflow-y: hidden;
        font-size: 30px;
    }


    .home2back
    {
        overflow-y: hidden;
        width: 100%;
        height: 80%;
        margin-left: -3%;
        margin-top: 15%;
    }
    .home2text
    {
        width: 80%;
        margin-top: 10%;
    }
    .home2text h1
    {
        font-size: 20px;
    }
    .home2text p 
    {
        font-size: 15px;
    }
    .home2img
    {
        position: absolute;
        width: 100%;
        height: 350px;
        margin-top: 40%;
        margin-left: 0;
        background-size: cover;
        padding: 20px;
    }
    #pi
    {
        position: absolute;
        transform: rotate(0);
        margin-right: 40px;
        font-size: 40px;
        margin-top: 650px;
    }


    .home3back
    {
        overflow-y: hidden;
        width: 70vh;
        height: 100%;
        background-size: cover;
    }
    .home3text
    {
        position: absolute;
        width: 100%;
        left: -150px;
        height: 80%;
        margin-top: -10vh;
    }
    .slogan
    {
        width: 100%;
    }
    .contact2
    {
        overflow-y: hidden;
        display: flex;
        height: 50vh;
        width: 100%;
    }
    .ocena
    {
        overflow-y: hidden;
        width: 30%;
        height: 50%;
    }
    .ocena a 
    {
        overflow-y: hidden;
    }
    .tel
    {
        height: 50%;
        width: 70%;
    }
    .tel h1
    {
        width: 100vh;
        margin-left: 8vh;
    }
    .home3img
    {
        position: relative;
        background-image: url(zlecenie2.jpg);
        height: 40vh;
        width: auto;
        bottom: -20vh;
        background-size: cover;
    }



    footer 
    {
        width: 200vh;
        height: 20vh;
        padding: 0;
    }
    .f1
    {
        position: absolute;
    }
    .f2
    {
        display: none;
    }
    .f3
    {
        position: absolute;
    }

}
